*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

@import 'pages/home';
@import 'layouts/form';
