
.scanbackArrow {
        background-color: rgb(255, 255, 255);
        position: fixed;
        left: 15%;
        padding: 10px;
        border: 2px solid orange;
        & a {
            text-decoration: none;
        }
        font-size: 1.5rem;
        padding: 3px;
        height: 33px;
        cursor: pointer;
        width: 33px;
        border-radius: 50px;
        background-color: white;
        transform: scale(1);
        transition: all .250s ease-in-out;
        &:hover {
            background-color: rgb(255, 106, 131);
            transform: scale(1.1);
        }
}


.scan {
    text-align: center;
    margin: 50px auto;
    background-color: #bfdad8;
    font-size: 1.5rem;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    &__btnScanGestionA {
       
        &--deleteScan {
       
            background-color: #ee2b72;
            color: white;
            cursor: pointer;
            transform: scale(1);
            transition: all ease-in .250s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &--putScan {
  

            background-color: #2bcaee;
            color: white;
            cursor: pointer;
            transform: scale(1);
            transition: all ease-in .250s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__btnLikeUnlike {
        &--like {
            background-color: #2beeee;
            cursor: pointer;
            transform: scale(1);
            font-size: 1.2rem;
            transition: all ease-in .250s;
            &:hover {
                transform: scale(1.1);
            }
        }
        &--unlike {
            background-color: #f1250a;
            cursor: pointer;
            transform: scale(1);
            font-size: 1.2rem;
            transition: all ease-in .250s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.overlayDeleteScan {
   display: none;
        position: fixed;
        top: 30%;
        left: 25%;
        width: 50%;
    padding: 30px;
    opacity: 0.8;
    font-size: 1.2rem;
    border-radius: 15px;
    color: rgb(246, 255, 0);
    background-color: rgb(255, 129, 110);
    transition: all .250s ease-in-out ;
    &:hover {
        opacity: 1;
    }
}


.comments {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 70%;
    margin: 20px auto;
}



.addCommentBtn {

    position: fixed;
    right: 3%;
    bottom: 5%;
    font-size: 2.5rem;
    border-radius: 50px;
    height: 56px;
    background-color: white;
    transform: scale(1);
    transition: all .250s ease-in-out ;
            &:hover {
                background-color: rgb(82, 223, 241);
                transform: scale(1.1);
                cursor: pointer;
            }
}


.overlayAddComment {
  display: none;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    background-color: #e49df6;
    margin: 20px auto;
    opacity: .7;
    &__commentForm {
        display: flex;
        flex-direction: column;
        & label {
            font-size: 1.9rem;
            text-align: center;
            color: white;
            font-weight: bold;
        }
    }
    transition: all ease-in-out .250s;
    &:hover {
        opacity: 1;
    }
    &__putCommentbtn {
        background-color: #4fffe5;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    &__cancelCommentbtn {
        background-color: #fe516e;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
}

#commentToAdd {
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

.userComm{
    font-size: 2rem;   
    text-align: center; 
    margin: 25px auto;
    border-bottom: 2px solid rebeccapurple;
}
.userAuthor {
   color: #2bcaee;
}


.hidden{
   display: none;
}

#putCommentContent {
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}