.info_user {
    font-family: 'Caveat', Arial, Helvetica, sans-serif; 
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__brand {
     text-align: center;  
     color: white; 
     font-size: 2.1rem;
    }

    &__headerPicBrand {
        & img {
            position: absolute;
            left: 3%;
            top: 2%;
          height: 90px;
          width: 90px;
            border-radius: 50px;
        }
     }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //margin: 0 auto;
        & h3 {
            padding: 10px;
            font-size: 2rem;
        }
    }

    &__btn_gestion {
        margin: 20px;

        & button {
            outline: none;
            border: none;
            padding: 5px;
            border-radius: 10px;
            background-color: bisque;

        }
        &--deleteAccount {
            transition: all .250s ease-in-out;
            :hover {
                background-color: rgb(255, 106, 131);
            }
        }

    }

    &--delete {
        display: none;
        position: fixed;
        top: 30%;
    transform: translatex(-5%);
    padding: 30px;
    opacity: 0.8;
    font-size: 2rem;
    border-radius: 15px;
    color: rgb(246, 255, 0);
    background-color: rgb(255, 129, 110);
    transition: all .250s ease-in-out ;
    &:hover {
        opacity: 1;
    }
    & button {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: none;

    }
    }
}

.header_profil {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: black;
    &--BackArrow {
        background-color: rgb(255, 255, 255);
        position: fixed;
        left: 20px;
        padding: 10px;
        border: 2px solid orange;
        & a {
            text-decoration: none;
        }
        font-size: 1.5rem;
        padding: 3px;
        height: 33px;
        cursor: pointer;
        width: 33px;
        border-radius: 50px;
        background-color: white;
        transform: scale(1);
        transition: all .250s ease-in-out;
        &:hover {
            background-color: rgb(255, 106, 131);
            transform: scale(1.1);
        }
    }
    &__headerPicBrandProfile {
        & img {
            position: absolute;
            //left: 3%;
            top: 2%;
          height: 90px;
          width: 90px;
            border-radius: 50px;
        }
     }
}



.footer_profil {
    padding: 50px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}