

.home__signin, .home__signup {

   position: absolute;
 // transform: translate(100%, 10%);
    opacity: 0.5;
    display: flex;
    position: absolute;
    top: 35%;
    left: 38%;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 20px;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    font-family: 'Caveat' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    background-color: rgb(249, 241, 208);
    border-radius: 10px;
    transition: opacity .300s ease-in;
    &:hover{
        opacity: 0.8;
    }

    & input {
        text-align: center;
        padding: 15px;
        margin: 5px auto;
        font-size: 1.1rem;
        width: 70%;
        border: none;
        border-radius: 5px;
    font-weight: bold;
    }

    & .btn__register{
        display: block;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 10px auto;
        box-shadow: 0px 6px 1px black;
        width: 50%;
        border-radius: 10px;
        position: relative;
        transition: box-shadow .150s ease-in;
       
        &:hover {
           // position: absolute;
            top: 3px;
            box-shadow: 0px 3px 1px black;
            background-color: aquamarine;
            color: rgb(161, 37, 180);
        }
        &:active {
            top: 6px;
            box-shadow: 0px 0px 0px black;
            background-color: rgb(255, 242, 127);
            color: rgb(31, 244, 255);
        }
    }

        & .btn__login {
            display: block;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 10px auto;
        box-shadow: 0px 6px 1px black;
        width: 50%;
        border-radius: 10px;
        position: relative;
        transition: box-shadow .250s ease-in;
       
            &:hover {
                top: 3px;
                box-shadow: 0px 3px 1px black;
                background-color: rgb(127, 217, 255);
                color: rgb(161, 37, 180);
            }
            &:active {
                top: 6px;
                box-shadow: 0px 0px 0px black;
                background-color: rgb(255, 242, 127);
                color: rgb(31, 244, 255);
            }
        }
    

} 

.home__signup {
    display: none;
}




#info_user--put {
    display: none;
    position: absolute;
    // transform: translate(100%, 10%);
       opacity: 0.5;
       
       position: absolute;
       top: 20%;
       left: 38%;
       flex-direction: column;
       justify-content:space-evenly;
       padding: 20px;
       font-size: 1.5rem;
       margin: 0 auto;
       text-align: center;
       max-width: 400px;
       font-family: 'Caveat' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       word-wrap: break-word;
       background-color: rgb(249, 241, 208);
       border-radius: 10px;
       transition: opacity .300s ease-in;
       &:hover{
           opacity: 0.8;
       }
       & input {
        text-align: center;
        padding: 15px;
        margin: 5px auto;
        font-size: 1.1rem;
        width: 70%;
        border: none;
        border-radius: 5px;
    font-weight: bold;
    }
}